extends layout

block content
  h1= title
  p
      i(class="fab fa-npm")
      i(class="fas fa-home")
      i(class="fab fa-github-square")
  each pkg in pkgs
    p
      a(class='left', href='https://'+pkg.url) #{pkg.name}
      a(class='middle', href=pkg.homepage) #{pkg.name}
      a(class='right', href=pkg.github) #{pkg.name}
