extends layout

block content
  h1= title
  p Welcome to =>
    a(href= 'https://'+pkgs[0].url) #{pkgs[0].name}
  p Welcome to =>
    a(href= 'https://'+pkgs[1].url) #{pkgs[1].name}
  p Welcome to =>
    a(href= 'https://'+pkgs[2].url) #{pkgs[2].name}
  p Welcome to =>
    a(href= 'https://'+pkgs[3].url) #{pkgs[3].name}
  p Welcome to =>
    a(href= 'https://'+pkgs[4].url) #{pkgs[4].name}
  p Welcome to =>
    a(href= 'https://'+pkgs[5].url) #{pkgs[5].name}
  p Welcome to =>
    a(href= 'https://'+pkgs[6].url) #{pkgs[6].name}
  p Welcome to =>
    a(href= 'https://'+pkgs[7].url) #{pkgs[7].name}
  p Welcome to =>
    a(href= 'https://'+pkgs[8].url) #{pkgs[8].name}
  p Welcome to =>
    a(href= 'https://'+pkgs[9].url) #{pkgs[9].name}
  p Welcome to =>
    a(href= 'https://'+pkgs[10].url) #{pkgs[10].name}
  p Welcome to =>
    a(href= 'https://'+pkgs[11].url) #{pkgs[11].name}
  p Welcome to =>
    a(href= 'https://'+pkgs[12].url) #{pkgs[12].name}
  p Welcome to =>
    a(href= 'https://'+pkgs[13].url) #{pkgs[13].name}
  p Welcome to =>
    a(href= 'https://'+pkgs[14].url) #{pkgs[14].name}
  p Welcome to =>
    a(href= 'https://'+pkgs[15].url) #{pkgs[15].name}
  p Welcome to =>
    a(href= 'https://'+pkgs[16].url) #{pkgs[16].name}
  p Welcome to =>
    a(href= 'https://'+pkgs[17].url) #{pkgs[17].name}
