extends layout

block content
  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css",integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU", crossorigin="anonymous")
  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css", integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU", crossorigin="anonymous")
  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css", integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU", crossorigin="anonymous")
  h1= title
  p
      i(class="fab fa-npm")
      i(class="fas fa-home")
      i(class="fab fa-github-square")
  each pkg in pkgs
    p
      a(class='left', href='https://'+pkg.url) #{pkg.name}
      a(class='middle', href=pkg.homepage) #{pkg.name}
      a(class='right', href=pkg.github) #{pkg.name}
